<h1>Welcome to Hotel!</h1>
<p style="padding-top: 20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis, augue dictum faucibus tristique, nisl nulla ultricies metus, vel posuere sapien orci eu leo. Morbi ac vestibulum diam. Aliquam malesuada gravida velit eget ultricies. Vivamus quam urna, venenatis vel lobortis in, viverra non diam. Proin non sapien quis ante tristique laoreet sodales lacinia nisl. Etiam accumsan risus ac ex egestas tempus. Cras ex sem, dignissim quis augue sit amet, tristique rutrum felis. Mauris elementum, enim ut ullamcorper auctor, eros lacus interdum mauris, eget dictum purus leo in magna. Nullam ut cursus nibh. Etiam viverra diam eu iaculis pellentesque.</p>

<div class="wrapper">
    <img src="https://i.imgur.com/uOeAy6z.jpg">
</div>