<% content_for :title do %>
  Novo Room type
<% end %>

<div class="page-header">
  <h1>Novo Room type</h1>
  <%= link_to room_types_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Voltar
  <% end %>
</div>

<%= render 'form' %>
