<%% content_for :title do %>
  Novo <%= human_name %>
<%% end %>

<div class="page-header">
  <h1>Novo <%= human_name %></h1>
  <%%= link_to <%= index_helper %>_path, class: 'btn btn-outline-secondary' do %>
    <%%= icon 'fas', 'bars' %>
    Voltar
  <%% end %>
</div>

<%%= render 'form' %>
