.page-header {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
  
    h1 {
      margin-bottom: 0;
    }
  }
  
  table.table {
    th:last-child {
      width: 200px;
    }
  
    td:last-child {
      text-align: center;
    }
  }