<% content_for :title do %>
  Add City
<% end %>

<div class="page-header">
  <h1>Add City</h1>
  <%= link_to cities_path, class: 'btn btn-outline-secondary' do %>
    <%= icon 'fas', 'bars' %>
    Back
  <% end %>
</div>

<%= render 'form' %>
